In [1]:
import os
import sys
import talib as ta
syspath = os.path.split(os.path.abspath("."))[0]
sys.path.append(syspath)
import univ3api.simulation as sim
import univ3api.utils as utils
import importlib
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# run if simulation file is updated
importlib.reload(sim)

HOST = "mongodb://172.16.11.81:27017/ETHDATA"
source = sim.DataUtilMongoDB(HOST)

from datetime import datetime
import time
d1 = datetime(2018,5,1,9)
d2 = datetime(2021,9,1,9)
t1 = int(time.mktime(d1.timetuple()))
t2 = int(time.mktime(d2.timetuple()))

# print(d1.timetuple())
# print(time.mktime(d1.timetuple()))
# print(int(time.mktime(d1.timetuple())))

# swapdata = source.swap_by_time("SWAP_WETH_USDT_3000", t1, t2)
swapdata = source.swap_by_time("SWAP_WBTC_WETH_3000", t1, t2)
swapdata.tail()
pricedata = swapdata[["timestamp", "sqrtPriceX96"]]
# pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(18, 6).x96_to_price)
pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(8, 18).x96_to_price)
pricedata.tail()

        timestamp                         sqrtPriceX96      price
39972  1630454729  29397920860687499670891214477520071  13.768102
39973  1630454935  29395052399717415159635219841245085  13.765415
39974  1630455164  29388261468752210037201803442848452  13.759056
39975  1630456622  29367927808723618388655304732177615  13.740022
39976  1630457957  29367928794631338623875092527135790  13.740023

In [2]:
pricedata['datetime'] = pd.to_datetime(pricedata['timestamp'],unit='s')
priceDt = pricedata.set_index('datetime')
priceDt['date'] = list(map(lambda d: d.date(), priceDt.index))
priceDt

,timestamp,sqrtPriceX96,price,date
datetime,,,,
2021-05-04 20:22:20,1620159740,31726435882393352962081481336689260,16.035533,2021-05-04
2021-05-04 20:44:52,1620161092,31749317473571553863992538907001243,16.058672,2021-05-04
2021-05-04 21:22:07,1620163327,31772030779696575139435859918219663,16.081657,2021-05-04
2021-05-05 18:16:19,1620238579,32183519010609140494324045662069506,16.500910,2021-05-05
2021-05-05 18:46:25,1620240385,32391356725297334670088521116983364,16.714720,2021-05-05
...,...,...,...,...
2021-09-01 00:05:29,1630454729,29397920860687499670891214477520071,13.768102,2021-09-01
2021-09-01 00:08:55,1630454935,29395052399717415159635219841245085,13.765415,2021-09-01
2021-09-01 00:12:44,1630455164,29388261468752210037201803442848452,13.759056,2021-09-01
2021-09-01 00:37:02,1630456622,29367927808723618388655304732177615,13.740022,2021-09-01
2021-09-01 00:59:17,1630457957,29367928794631338623875092527135790,13.740023,2021-09-01