# 导入模块

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')
syspath = os.path.split(os.path.abspath("."))[0]
sys.path.append(syspath)

In [2]:
import univ3api.simulation as sim
import univ3api.utils as utils
import importlib
import pandas as pd

In [3]:
# run if simulation file is updated
importlib.reload(sim)

## 链上数据

### SwapEvent

记录了该流动性池的每一笔swap

### Block

区块信息，用于提供时间戳

In [4]:
HOST = "mongodb://172.16.11.81:27017/ETHDATA"
source = sim.DataUtilMongoDB(HOST)

# 转时间成Timestamp

In [5]:
from datetime import datetime
import time
d1 = datetime(2021,5, 10, 9)
d2 = datetime(2021,9, 1,9)
t1 = int(time.mktime(d1.timetuple()))
t2 = int(time.mktime(d2.timetuple()))

print(d1.timetuple())
print(time.mktime(d1.timetuple()))
print(int(time.mktime(d1.timetuple())))

time.struct_time(tm_year=2021, tm_mon=5, tm_mday=10, tm_hour=9, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=130, tm_isdst=-1)
1620608400.0
1620608400

In [6]:
# swapdata = source.swap_by_time("SWAP_WETH_USDT_3000", t1, t2)
swapdata = source.swap_by_time("SWAP_USDC_WETH_3000", t1, t2)

In [7]:
swapdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120405 entries, 0 to 120404
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transactionHash   120405 non-null  object
 1   logIndex          120405 non-null  int64
 2   transactionIndex  120405 non-null  int64
 3   blockNumber       120405 non-null  int64
 4   recipient         120405 non-null  object
 5   amount0           120405 non-null  int64
 6   amount1           120405 non-null  object
 7   sqrtPriceX96      120405 non-null  object
 8   liquidity         120405 non-null  object
 9   tick              120405 non-null  int64
 10  timestamp         120405 non-null  int64
dtypes: int64(6), object(5)
memory usage: 10.1+ MB

### 先生成带时间戳的价格数据

In [8]:
swapdata.tail()

,transactionHash,logIndex,transactionIndex,blockNumber,recipient,amount0,amount1,sqrtPriceX96,liquidity,tick,timestamp
120400,0xc09ae42dca6b4de56031ffa3b93ef324c582be7e8386...,58,50,13136626,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,-382861185806,112379947203796863973,1355527382349696291973070296916222,24781562554378302298,194957,1630457280
120401,0x2de3d0231e1a578e4ac350ca737bc6a1fa389cb6ca58...,38,46,13136629,0x27239549DD40E1D60F5B80B0C4196923745B1FD2,-113377666329,33290764904875893698,1355633495651790988012240522812889,24781562554378302298,194958,1630457316
120402,0x10dee28fa5d37a0867bf0cd4d8c8535335b5859611e2...,3,0,13136630,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,-921663835440,270819081680876423911,1356496723249880871370773228843790,24781562554378302298,194971,1630457355
120403,0xaa2b0c80e45290e6af9460b1f473e04b848302767ffb...,7,1,13136637,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,-178688247079,52545167350399362399,1356664209375015011561300805592324,24781562554378302298,194973,1630457391
120404,0xaab4697a35997998baf418fd595edd4aa5bf8bce948f...,69,21,13136637,0x22F9dCF4647084d6C31b2765F6910cd85C178C18,-763207630466,224575411150770362168,1357380036677709158041273101685800,24781562554378302298,194984,1630457391

In [9]:
pricedata = swapdata[["timestamp", "sqrtPriceX96"]]
# pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(18, 6).x96_to_price)
pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(6, 18).x96_to_price)

In [10]:
pricedata.tail()

         timestamp                        sqrtPriceX96     price
120400  1630457280  1355527382349696291973070296916222  0.000293
120401  1630457316  1355633495651790988012240522812889  0.000293
120402  1630457355  1356496723249880871370773228843790  0.000293
120403  1630457391  1356664209375015011561300805592324  0.000293
120404  1630457391  1357380036677709158041273101685800  0.000294

## 生成日价格大于50均线的DataFrame

In [11]:
priceDf = pricedata

In [12]:
priceDf['datetime'] = list(map(lambda d: datetime.fromtimestamp(d), priceDf['timestamp'] ))
priceDf

,timestamp,sqrtPriceX96,price,datetime
0,1620609472,1267554519342589161168659854845874,0.000256,2021-05-10 09:17:52
1,1620609830,1267498129839936824485169221023868,0.000256,2021-05-10 09:23:50
2,1620609889,1267496927736336268048970777338285,0.000256,2021-05-10 09:24:49
3,1620609889,1267496466129159558106023913391909,0.000256,2021-05-10 09:24:49
4,1620609894,1267269382521328460205280017540103,0.000256,2021-05-10 09:24:54
...,...,...,...,...
120400,1630457280,1355527382349696291973070296916222,0.000293,2021-09-01 08:48:00
120401,1630457316,1355633495651790988012240522812889,0.000293,2021-09-01 08:48:36
120402,1630457355,1356496723249880871370773228843790,0.000293,2021-09-01 08:49:15
120403,1630457391,1356664209375015011561300805592324,0.000293,2021-09-01 08:49:51
120404,1630457391,1357380036677709158041273101685800,0.000294,2021-09-01 08:49:51

In [13]:
priceDt = priceDf.set_index('datetime')
priceDt

                      timestamp                        sqrtPriceX96     price
datetime
2021-05-10 09:17:52  1620609472  1267554519342589161168659854845874  0.000256
2021-05-10 09:23:50  1620609830  1267498129839936824485169221023868  0.000256
2021-05-10 09:24:49  1620609889  1267496927736336268048970777338285  0.000256
2021-05-10 09:24:49  1620609889  1267496466129159558106023913391909  0.000256
2021-05-10 09:24:54  1620609894  1267269382521328460205280017540103  0.000256
...                         ...                                 ...       ...
2021-09-01 08:48:00  1630457280  1355527382349696291973070296916222  0.000293
2021-09-01 08:48:36  1630457316  1355633495651790988012240522812889  0.000293
2021-09-01 08:49:15  1630457355  1356496723249880871370773228843790  0.000293
2021-09-01 08:49:51  1630457391  1356664209375015011561300805592324  0.000293
2021-09-01 08:49:51  1630457391  1357380036677709158041273101685800  0.000294

[120405 rows x 3 columns]

In [14]:
priceDay = priceDt.resample('D').last()
priceDay

             timestamp                        sqrtPriceX96     price
datetime
2021-05-10  1620662352  1228616988312226015357337899456895  0.000240
2021-05-11  1620748791  1252973529377508271162254629465828  0.000250
2021-05-12  1620834933  1222258371118313304597344053586746  0.000238
2021-05-13  1620921557  1295851047853606539736005287101923  0.000268
2021-05-14  1621007973  1232683723756514542155780026658030  0.000242
...                ...                                 ...       ...
2021-08-28  1630166342  1392548055249243297576850278509046  0.000309
2021-08-29  1630252324  1404463030442969386864663254788231  0.000314
2021-08-30  1630339014  1397521323422833356024918066401034  0.000311
2021-08-31  1630425506  1362563735141964888828555466967462  0.000296
2021-09-01  1630457391  1357380036677709158041273101685800  0.000294

[115 rows x 3 columns]

In [15]:
priceDay['MA50'] = priceDay['price'].rolling(50).mean()
priceDay

             timestamp                        sqrtPriceX96     price      MA50
datetime
2021-05-10  1620662352  1228616988312226015357337899456895  0.000240       NaN
2021-05-11  1620748791  1252973529377508271162254629465828  0.000250       NaN
2021-05-12  1620834933  1222258371118313304597344053586746  0.000238       NaN
2021-05-13  1620921557  1295851047853606539736005287101923  0.000268       NaN
2021-05-14  1621007973  1232683723756514542155780026658030  0.000242       NaN
...                ...                                 ...       ...       ...
2021-08-28  1630166342  1392548055249243297576850278509046  0.000309  0.000396
2021-08-29  1630252324  1404463030442969386864663254788231  0.000314  0.000393
2021-08-30  1630339014  1397521323422833356024918066401034  0.000311  0.000390
2021-08-31  1630425506  1362563735141964888828555466967462  0.000296  0.000386
2021-09-01  1630457391  1357380036677709158041273101685800  0.000294  0.000382

[115 rows x 4 columns]

In [16]:
priceDay['Trend'] = priceDay['price']>=priceDay['MA50']
priceDay

,timestamp,sqrtPriceX96,price,MA50,Trend
datetime,,,,,
2021-05-10,1620662352,1228616988312226015357337899456895,0.000240,NaN,False
2021-05-11,1620748791,1252973529377508271162254629465828,0.000250,NaN,False
2021-05-12,1620834933,1222258371118313304597344053586746,0.000238,NaN,False
2021-05-13,1620921557,1295851047853606539736005287101923,0.000268,NaN,False
2021-05-14,1621007973,1232683723756514542155780026658030,0.000242,NaN,False
...,...,...,...,...,...
2021-08-28,1630166342,1392548055249243297576850278509046,0.000309,0.000396,False
2021-08-29,1630252324,1404463030442969386864663254788231,0.000314,0.000393,False
2021-08-30,1630339014,1397521323422833356024918066401034,0.000311,0.000390,False
2021-08-31,1630425506,1362563735141964888828555466967462,0.000296,0.000386,False
2021-09-01,1630457391,1357380036677709158041273101685800,0.000294,0.000382,False

In [17]:
priceDay.index = list(map(lambda d: d.date(), priceDay.index))
priceDay

,timestamp,sqrtPriceX96,price,MA50,Trend
2021-05-10,1620662352,1228616988312226015357337899456895,0.000240,NaN,False
2021-05-11,1620748791,1252973529377508271162254629465828,0.000250,NaN,False
2021-05-12,1620834933,1222258371118313304597344053586746,0.000238,NaN,False
2021-05-13,1620921557,1295851047853606539736005287101923,0.000268,NaN,False
2021-05-14,1621007973,1232683723756514542155780026658030,0.000242,NaN,False
...,...,...,...,...,...
2021-08-28,1630166342,1392548055249243297576850278509046,0.000309,0.000396,False
2021-08-29,1630252324,1404463030442969386864663254788231,0.000314,0.000393,False
2021-08-30,1630339014,1397521323422833356024918066401034,0.000311,0.000390,False
2021-08-31,1630425506,1362563735141964888828555466967462,0.000296,0.000386,False
2021-09-01,1630457391,1357380036677709158041273101685800,0.000294,0.000382,False

In [18]:
trendDict = dict(priceDay['Trend'])
trendDict

{datetime.date(2021, 5, 10): False,
 datetime.date(2021, 5, 11): False,
 datetime.date(2021, 5, 12): False,
 datetime.date(2021, 5, 13): False,
 datetime.date(2021, 5, 14): False,
 datetime.date(2021, 5, 15): False,
 datetime.date(2021, 5, 16): False,
 datetime.date(2021, 5, 17): False,
 datetime.date(2021, 5, 18): False,
 datetime.date(2021, 5, 19): False,
 datetime.date(2021, 5, 20): False,
 datetime.date(2021, 5, 21): False,
 datetime.date(2021, 5, 22): False,
 datetime.date(2021, 5, 23): False,
 datetime.date(2021, 5, 24): False,
 datetime.date(2021, 5, 25): False,
 datetime.date(2021, 5, 26): False,
 datetime.date(2021, 5, 27): False,
 datetime.date(2021, 5, 28): False,
 datetime.date(2021, 5, 29): False,
 datetime.date(2021, 5, 30): False,
 datetime.date(2021, 5, 31): False,
 datetime.date(2021, 6, 1): False,
 datetime.date(2021, 6, 2): False,
 datetime.date(2021, 6, 3): False,
 datetime.date(2021, 6, 4): False,
 datetime.date(2021, 6, 5): False,
 datetime.date(2021, 6, 6): False,
 datetime.date(2021, 6, 7): False,
 datetime.date(2021, 6, 8): False,
 datetime.date(2021, 6, 9): False,
 datetime.date(2021, 6, 10): False,
 datetime.date(2021, 6, 11): False,
 datetime.date(2021, 6, 12): False,
 datetime.date(2021, 6, 13): False,
 datetime.date(2021, 6, 14): False,
 datetime.date(2021, 6, 15): False,
 datetime.date(2021, 6, 16): False,
 datetime.date(2021, 6, 17): False,
 datetime.date(2021, 6, 18): False,
 datetime.date(2021, 6, 19): False,
 datetime.date(2021, 6, 20): False,
 datetime.date(2021, 6, 21): False,
 datetime.date(2021, 6, 22): False,
 datetime.date(2021, 6, 23): False,
 datetime.date(2021, 6, 24): False,
 datetime.date(2021, 6, 25): False,
 datetime.date(2021, 6, 26): False,
 datetime.date(2021, 6, 27): False,
 datetime.date(2021, 6, 28): True,
 datetime.date(2021, 6, 29): True,
 datetime.date(2021, 6, 30): True,
 datetime.date(2021, 7, 1): True,
 datetime.date(2021, 7, 2): True,
 datetime.date(2021, 7, 3): True,
 datetime.date(2021, 7, 4): True,
 datetime.date(2021, 7, 5): True,
 datetime.date(2021, 7, 6): True,
 datetime.date(2021, 7, 7): False,
 datetime.date(2021, 7, 8): True,
 datetime.date(2021, 7, 9): True,
 datetime.date(2021, 7, 10): True,
 datetime.date(2021, 7, 11): True,
 datetime.date(2021, 7, 12): True,
 datetime.date(2021, 7, 13): True,
 datetime.date(2021, 7, 14): True,
 datetime.date(2021, 7, 15): True,
 datetime.date(2021, 7, 16): True,
 datetime.date(2021, 7, 17): True,
 datetime.date(2021, 7, 18): True,
 datetime.date(2021, 7, 19): True,
 datetime.date(2021, 7, 20): True,
 datetime.date(2021, 7, 21): True,
 datetime.date(2021, 7, 22): True,
 datetime.date(2021, 7, 23): True,
 datetime.date(2021, 7, 24): False,
 datetime.date(2021, 7, 25): True,
 datetime.date(2021, 7, 26): False,
 datetime.date(2021, 7, 27): False,
 datetime.date(2021, 7, 28): False,
 datetime.date(2021, 7, 29): False,
 datetime.date(2021, 7, 30): False,
 datetime.date(2021, 7, 31): False,
 datetime.date(2021, 8, 1): False,
 datetime.date(2021, 8, 2): False,
 datetime.date(2021, 8, 3): False,
 datetime.date(2021, 8, 4): False,
 datetime.date(2021, 8, 5): False,
 datetime.date(2021, 8, 6): False,
 datetime.date(2021, 8, 7): False,
 datetime.date(2021, 8, 8): False,
 datetime.date(2021, 8, 9): False,
 datetime.date(2021, 8, 10): False,
 datetime.date(2021, 8, 11): False,
 datetime.date(2021, 8, 12): False,
 datetime.date(2021, 8, 13): False,
 datetime.date(2021, 8, 14): False,
 datetime.date(2021, 8, 15): False,
 datetime.date(2021, 8, 16): False,
 datetime.date(2021, 8, 17): False,
 datetime.date(2021, 8, 18): False,
 datetime.date(2021, 8, 19): False,
 datetime.date(2021, 8, 20): False,
 datetime.date(2021, 8, 21): False,
 datetime.date(2021, 8, 22): False,
 datetime.date(2021, 8, 23): False,
 datetime.date(2021, 8, 24): False,
 datetime.date(2021, 8, 25): False,
 datetime.date(2021, 8, 26): False,
 datetime.date(2021, 8, 27): False,
 datetime.date(2021, 8, 28): False,
 datetime.date(2021, 8, 29): False,
 datetime.date(2021, 8, 30): False,
 datetime.date(2021, 8, 31): False,
 datetime.date(2021, 9, 1): False}

In [19]:
priceDt['date'] = list(map(lambda d: d.date(), priceDt.index))

In [20]:
priceDt

,timestamp,sqrtPriceX96,price,date
datetime,,,,
2021-05-10 09:17:52,1620609472,1267554519342589161168659854845874,0.000256,2021-05-10
2021-05-10 09:23:50,1620609830,1267498129839936824485169221023868,0.000256,2021-05-10
2021-05-10 09:24:49,1620609889,1267496927736336268048970777338285,0.000256,2021-05-10
2021-05-10 09:24:49,1620609889,1267496466129159558106023913391909,0.000256,2021-05-10
2021-05-10 09:24:54,1620609894,1267269382521328460205280017540103,0.000256,2021-05-10
...,...,...,...,...
2021-09-01 08:48:00,1630457280,1355527382349696291973070296916222,0.000293,2021-09-01
2021-09-01 08:48:36,1630457316,1355633495651790988012240522812889,0.000293,2021-09-01
2021-09-01 08:49:15,1630457355,1356496723249880871370773228843790,0.000293,2021-09-01
2021-09-01 08:49:51,1630457391,1356664209375015011561300805592324,0.000293,2021-09-01
2021-09-01 08:49:51,1630457391,1357380036677709158041273101685800,0.000294,2021-09-01

In [21]:
trendList = []
for i, v in priceDt.iterrows():
    trendList.append(trendDict[v['date']])
print(f'len of trendList:{len(trendList)}')

len of trendList:120405

In [22]:
priceDt['trend'] = trendList

In [23]:
priceDt.head(3)

,timestamp,sqrtPriceX96,price,date,trend
datetime,,,,,
2021-05-10 09:17:52,1620609472,1267554519342589161168659854845874,0.000256,2021-05-10,False
2021-05-10 09:23:50,1620609830,1267498129839936824485169221023868,0.000256,2021-05-10,False
2021-05-10 09:24:49,1620609889,1267496927736336268048970777338285,0.000256,2021-05-10,False

In [24]:
priceDt.tail(3)

,timestamp,sqrtPriceX96,price,date,trend
datetime,,,,,
2021-09-01 08:49:15,1630457355,1356496723249880871370773228843790,0.000293,2021-09-01,False
2021-09-01 08:49:51,1630457391,1356664209375015011561300805592324,0.000293,2021-09-01,False
2021-09-01 08:49:51,1630457391,1357380036677709158041273101685800,0.000294,2021-09-01,False

### 初始化参数

In [25]:
init_price = priceDt["price"][0]

# decimal0 = 18
# decimal1 = 6

decimal0 = 6
decimal1 = 18

# init_amount0 = 0
# init_amount1 = 1000000*1e6

init_amount0 = 1000000*1e6
init_amount1 = 0

In [26]:
swapdata

,transactionHash,logIndex,transactionIndex,blockNumber,recipient,amount0,amount1,sqrtPriceX96,liquidity,tick,timestamp
0,0x13fd76feb61c9b364127d9e930390febc666d4c0137b...,16,1,12403600,0xE592427A0AEce92De3Edee1F18E0157C05861564,60533487612,-15449515142703381677,1267554519342589161168659854845874,8408875520007313770,193615,1620609472
1,0xd55c3efb98856b44f4f5099644154d97e297d3923141...,211,142,12403625,0xE592427A0AEce92De3Edee1F18E0157C05861564,23453444678,-5984895943450043439,1267498129839936824485169221023868,8408875520007313770,193614,1620609830
2,0xd0d0f0c19173b0ff2a4a4213f48868c169ee2c7db32a...,308,148,12403628,0xE592427A0AEce92De3Edee1F18E0157C05861564,500000000,-127585182067194206,1267496927736336268048970777338285,8408875520007313770,193614,1620609889
3,0x0dda5e32434348d85cf2b17e04c957f506442172be44...,369,184,12403628,0xE592427A0AEce92De3Edee1F18E0157C05861564,192000000,-48992645606252471,1267496466129159558106023913391909,8408875520007313770,193614,1620609889
4,0x4b95b76edf8c6800382d994e5ba0a7e99b39ee032b7e...,345,174,12403629,0xE592427A0AEce92De3Edee1F18E0157C05861564,94469677973,-24101502928861543334,1267269382521328460205280017540103,8408875520007313770,193610,1620609894
...,...,...,...,...,...,...,...,...,...,...,...
120400,0xc09ae42dca6b4de56031ffa3b93ef324c582be7e8386...,58,50,13136626,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,-382861185806,112379947203796863973,1355527382349696291973070296916222,24781562554378302298,194957,1630457280
120401,0x2de3d0231e1a578e4ac350ca737bc6a1fa389cb6ca58...,38,46,13136629,0x27239549DD40E1D60F5B80B0C4196923745B1FD2,-113377666329,33290764904875893698,1355633495651790988012240522812889,24781562554378302298,194958,1630457316
120402,0x10dee28fa5d37a0867bf0cd4d8c8535335b5859611e2...,3,0,13136630,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,-921663835440,270819081680876423911,1356496723249880871370773228843790,24781562554378302298,194971,1630457355
120403,0xaa2b0c80e45290e6af9460b1f473e04b848302767ffb...,7,1,13136637,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,-178688247079,52545167350399362399,1356664209375015011561300805592324,24781562554378302298,194973,1630457391
120404,0xaab4697a35997998baf418fd595edd4aa5bf8bce948f...,69,21,13136637,0x22F9dCF4647084d6C31b2765F6910cd85C178C18,-763207630466,224575411150770362168,1357380036677709158041273101685800,24781562554378302298,194984,1630457391

In [27]:
priceDt

,timestamp,sqrtPriceX96,price,date,trend
datetime,,,,,
2021-05-10 09:17:52,1620609472,1267554519342589161168659854845874,0.000256,2021-05-10,False
2021-05-10 09:23:50,1620609830,1267498129839936824485169221023868,0.000256,2021-05-10,False
2021-05-10 09:24:49,1620609889,1267496927736336268048970777338285,0.000256,2021-05-10,False
2021-05-10 09:24:49,1620609889,1267496466129159558106023913391909,0.000256,2021-05-10,False
2021-05-10 09:24:54,1620609894,1267269382521328460205280017540103,0.000256,2021-05-10,False
...,...,...,...,...,...
2021-09-01 08:48:00,1630457280,1355527382349696291973070296916222,0.000293,2021-09-01,False
2021-09-01 08:48:36,1630457316,1355633495651790988012240522812889,0.000293,2021-09-01,False
2021-09-01 08:49:15,1630457355,1356496723249880871370773228843790,0.000293,2021-09-01,False
2021-09-01 08:49:51,1630457391,1356664209375015011561300805592324,0.000293,2021-09-01,False
2021-09-01 08:49:51,1630457391,1357380036677709158041273101685800,0.000294,2021-09-01,False

### 运行策略

In [28]:
import usdceth_strategy
importlib.reload(utils)
importlib.reload(sim)
importlib.reload(usdceth_strategy)
print('token0表示usdc，token1表示eth')
# print(init_amount0, init_amount1, decimal0, decimal1, sim.PoolFee.low)
# strategy = ethusdt_strategy.HoldStrategy(init_amount0, init_amount1, decimal0, decimal1, sim.PoolFee.low, False)
strategy = usdceth_strategy.HoldStrategy(init_amount0, init_amount1, decimal0, decimal1, sim.PoolFee.low, True)
strategy.init(swapdata.iloc[0].to_dict())
strategy.run(swapdata, priceDt)
report = strategy.report()

token0表示usdc，token1表示eth
***************************************************【创建池子】***************************************************

AttributeError: 'HoldStrategy' object has no attribute 'L'

### 池子在回测时间内发生了3次撤池与重建

### 画图 查看每次建池的资产状况

In [ ]:
# report.positions[1].plot_balance()

In [ ]:
report.positions[1].get_balance(plain=True, draw_plot=True)

In [ ]:
report.positions[2].get_balance(plain=True, draw_plot=True)

In [ ]:
report.positions[3].get_balance(plain=True, draw_plot=True)

### 展示总体资产状况

```
TotalAmount = WalletAmount + AmountInPositions + CummulativeFee
```

In [ ]:
total_balance = report.total_balance(draw_plot=True, plain=True)

In [ ]:
price = pricedata.drop_duplicates("timestamp").set_index("timestamp")["price"]
price

In [ ]:
eth_balance = total_balance.set_index("timestamp")[["amount0", "cumFee0"]].sum(axis=1) * price

In [ ]:
usdt_balance = total_balance.set_index("timestamp")[["amount1", "cumFee1"]].sum(axis=1)

In [ ]:
usdt_balance+eth_balance

In [ ]:
# eth_balance.plot()
# usdt_balance.plot()
tb_Timing = (usdt_balance+eth_balance)

In [ ]:
tb_Timing.plot()

### 账户总体市值和价格变动

In [ ]:
assets_value = pricedata.set_index("timestamp")["price"] * (total_balance["amount1"] / 10**decimal1) + total_balance["amount0"] / 10**decimal0
assets_value.plot()
pricedata.set_index("timestamp")[["price"]].plot()

In [ ]:
priceDay.to_csv('../data/priceDay.csv',float_format=True)