In [1]:
import os
import sys
import talib as ta
syspath = os.path.split(os.path.abspath("."))[0]
sys.path.append(syspath)
import univ3api.simulation as sim
import univ3api.utils as utils
import importlib
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import pickle
import talib as ta
from dateutil.parser import parse
import numpy as np
# run if simulation file is updated
importlib.reload(sim)

HOST = "mongodb://172.16.11.81:27017/ETHDATA"
source = sim.DataUtilMongoDB(HOST)

from datetime import datetime
import time
d1 = datetime(2021,5,10, 9)
d2 = datetime(2021,11,10,9)
t1 = int(time.mktime(d1.timetuple()))
t2 = int(time.mktime(d2.timetuple()))

# print(d1.timetuple())
# print(time.mktime(d1.timetuple()))
# print(int(time.mktime(d1.timetuple())))

# swapdata = source.swap_by_time("SWAP_WETH_USDT_3000", t1, t2)
swapdata = source.swap_by_time("SWAP_USDC_WETH_3000", t1, t2)
swapdata.tail()
pricedata = swapdata[["timestamp", "sqrtPriceX96"]]
# pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(18, 6).x96_to_price)
pricedata["price"] = pricedata["sqrtPriceX96"].apply(utils.PriceConverter(6, 18).x96_to_price)
pricedata['datetime']  = pd.to_datetime(pricedata['timestamp'],unit='s')
pricedata['datetime'] = [str(tmp)[:] for tmp in pricedata['datetime'].tolist()]
pricedata

,timestamp,sqrtPriceX96,price,datetime
0,1620609472,1267554519342589161168659854845874,0.000256,2021-05-10 01:17:52
1,1620609830,1267498129839936824485169221023868,0.000256,2021-05-10 01:23:50
2,1620609889,1267496927736336268048970777338285,0.000256,2021-05-10 01:24:49
3,1620609889,1267496466129159558106023913391909,0.000256,2021-05-10 01:24:49
4,1620609894,1267269382521328460205280017540103,0.000256,2021-05-10 01:24:54
...,...,...,...,...
153322,1636505287,1151304179731807924804200863381341,0.000211,2021-11-10 00:48:07
153323,1636505306,1153213095406308275655367738380110,0.000212,2021-11-10 00:48:26
153324,1636505306,1153226560737155904671591020768514,0.000212,2021-11-10 00:48:26
153325,1636505306,1153227466349991390439811165863993,0.000212,2021-11-10 00:48:26
153326,1636505333,1153327366354417369770223314484875,0.000212,2021-11-10 00:48:53

In [2]:
pricedata['SmaLowerLma'] = [np.nan]*len(pricedata)
pricedata['VolLowerBelowmaQuantile50'] = [np.nan]*len(pricedata)
pricedata['CloseLowerMA'] = [np.nan]*len(pricedata)
pricedata['VolHigherOvermaQuantile50Twosigma'] = [np.nan]*len(pricedata)
pricedata['revoke_pos'] = [np.nan]*len(pricedata)

In [3]:
pricedata_res = pricedata[['timestamp','sqrtPriceX96','price',
                           'SmaLowerLma',
                           'VolLowerBelowmaQuantile50',
                          'CloseLowerMA',
                           'VolHigherOvermaQuantile50Twosigma',
                           'revoke_pos']]

,timestamp,sqrtPriceX96,price,datetime,SmaLowerLma,VolLowerBelowmaQuantile50,CloseLowerMA,VolHigherOvermaQuantile50Twosigma,revoke_pos
0,1620609472,1267554519342589161168659854845874,0.000256,2021-05-10 01:17:52,NaN,NaN,NaN,NaN,NaN
1,1620609830,1267498129839936824485169221023868,0.000256,2021-05-10 01:23:50,NaN,NaN,NaN,NaN,NaN
2,1620609889,1267496927736336268048970777338285,0.000256,2021-05-10 01:24:49,NaN,NaN,NaN,NaN,NaN
3,1620609889,1267496466129159558106023913391909,0.000256,2021-05-10 01:24:49,NaN,NaN,NaN,NaN,NaN
4,1620609894,1267269382521328460205280017540103,0.000256,2021-05-10 01:24:54,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
153322,1636505287,1151304179731807924804200863381341,0.000211,2021-11-10 00:48:07,NaN,NaN,NaN,NaN,NaN
153323,1636505306,1153213095406308275655367738380110,0.000212,2021-11-10 00:48:26,NaN,NaN,NaN,NaN,NaN
153324,1636505306,1153226560737155904671591020768514,0.000212,2021-11-10 00:48:26,NaN,NaN,NaN,NaN,NaN
153325,1636505306,1153227466349991390439811165863993,0.000212,2021-11-10 00:48:26,NaN,NaN,NaN,NaN,NaN
153326,1636505333,1153327366354417369770223314484875,0.000212,2021-11-10 00:48:53,NaN,NaN,NaN,NaN,NaN